## Status Update {{date}}

| Issue | Health | Status | Notes |
| ------ | ------ | ------ | --- |
{{#each issues}}
| [{{title}}]({{web_url}}) | 🟢 | | 
{{/each}}

### Other things

-


Health: 🟢 🟡 🔴

Status: 🛑 Blocked, ⌨ In Dev, 👀 In review, 🚢 Shipped
